<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python24_function_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1 ** 2 + 2 ** 2 + 3 ** 2 + ... + n ** 2을 리턴하는 함수(n은 1 이상의 정수)

In [3]:
def square_sum(n):
    return n * (n + 1) * (2 * n + 1) / 6

In [8]:
def square_sum2(n):
    result = 0
    for x in range(1, n + 1):
        result += x ** 2
    
    return result

In [10]:
def square_sum3(n):
    """
    1 ** 2 + 2 ** 2 + 3 ** 2 + ... + (n - 1) ** 2 + n ** 2
    = square_sum3(n-1) + n ** 2
    """
    result = None
    if n == 0:
        result = 0
    elif n > 0:
        result = square_sum3(n - 1) + n ** 2

    return result

In [11]:
for x in range(1, 5):
    print(f'square_sum_{x} = {square_sum3(x)}')

square_sum_1 = 1
square_sum_2 = 5
square_sum_3 = 14
square_sum_4 = 30

In [2]:
# 숫자들의 리스트가 주어졌을 때, 그 리스트의 최댓값의 위치(인덱스)를 리턴하는 함수

In [ ]:
# 숫자들의 리스트가 주어졌을 때, 그 리스트의 중앙값(median)을 리턴하는 함수
# [1, 2, 3, 4, 5] ==> median = 3
# [1, 2, 3, 4, 5, 6] ==> median = (3 + 4)  / 2 = 3.5
# sorted(list): 정렬된 리스트를 반환(return)