<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python57_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
tips = sns.load_dataset('tips')

In [3]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

성별 팁의 평균

In [7]:
# 성별이 남성인 부분집합에서 팁 컬럼의 평균을 계산.
tip_male = tips[tips['sex'] == 'Male']['tip'].mean()
tip_male

3.0896178343949052

In [8]:
tip_female = tips[tips['sex'] == 'Female']['tip'].mean()
tip_female

2.833448275862069

In [9]:
pd.Series(data=[tip_male, tip_female], index=['Male', 'Female'])

Male      3.089618
Female    2.833448
dtype: float64

In [18]:
genders = tips['sex'].unique()  #> ['Female', 'Male']
tip_by_gender = []  # 성별 팁의 평균들을 저장할 리스트
for gender in genders:
    tip_mean = tips[tips['sex'] == gender]['tip'].mean()
    tip_by_gender.append(tip_mean)

s = pd.Series(data=tip_by_gender, index=genders)
s

Female    2.833448
Male      3.089618
dtype: float64

In [19]:
def group_by_mean(df, by, value):
    """데이터 프레임 df에서 컬럼(by)별 변수(value)의 평균을 계산해서 Series를 리턴"""
    categories = df[by].unique()
    value_by_cat = []
    for cat in categories:
        mean = df[df[by] == cat][value].mean()
        value_by_cat.append(mean)

    s = pd.Series(data=value_by_cat, index=categories)
    
    return s

In [20]:
group_by_mean(df=tips, by='sex', value='tip')

Female    2.833448
Male      3.089618
dtype: float64

In [21]:
group_by_mean(df=tips, by='day', value='tip')

Sun     3.255132
Sat     2.993103
Thur    2.771452
Fri     2.734737
dtype: float64

In [23]:
group_by_mean(df=tips, by='day', value='total_bill')

Sun     21.410000
Sat     20.441379
Thur    17.682742
Fri     17.151579
dtype: float64