<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 구구단 2단부터 9단까지 출력하는 코드 작성

출력 결과 예시
```
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
...
2 x 8 = 16
2 x 9 = 18
---------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
...
3 x 8 = 24
3 x 9 = 27
---------------
...
---------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9..
9 x 8 = 72
9 x 9 = 81
---------------
```

# 동요를 불러볼까요~?

아래와 같이 출력되도록 코드 작성.
```
1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!
```

# 369 게임을 해볼까요~?

아래와 같이 출력되도록 코드 작성
```
1  2  *  4  5  *  7  8  *  10
11 12 *  14 15 *  17 18 *  20
21 22 *  24 25 *  27 28 *  *
*  *  *  *  *  *  *  *  *  40
...
*  *  *  *  *  *  *  *  *  100
```