<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python43_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = {
    'city': ['서울', '서울', '서울', '경기', '경기', '경기'],
    'year': [2018, 2019, 2020, 2018, 2019, 2020],
    'pop': [1.1, 1.2, 1.3, 1.5, 1.6, 1.4]
}
print(data)

{'city': ['서울', '서울', '서울', '경기', '경기', '경기'], 'year': [2018, 2019, 2020, 2018, 2019, 2020], 'pop': [1.1, 1.2, 1.3, 1.5, 1.6, 1.4]}

In [3]:
df = pd.DataFrame(data)
print(df)

  city  year  pop
0   서울  2018  1.1
1   서울  2019  1.2
2   서울  2020  1.3
3   경기  2018  1.5
4   경기  2019  1.6
5   경기  2020  1.4

In [4]:
df  # Jupyter Notebook은 데이터 프레임을 표 형식으로 출력해줌.

  city  year  pop
0   서울  2018  1.1
1   서울  2019  1.2
2   서울  2020  1.3
3   경기  2018  1.5
4   경기  2019  1.6
5   경기  2020  1.4

In [7]:
# DataFrame 객체의 속성들(attributes)
print('shape:', df.shape)  #> (row 개수, column 개수)
print('index:', df.index)  #> (row) 인덱스
print('columns:', df.columns)  #> column 이름들의 리스트

shape: (6, 3)
index: RangeIndex(start=0, stop=6, step=1)
columns: Index(['city', 'year', 'pop'], dtype='object')

In [12]:
# DataFrame에서 컬럼 선택 -> pd.Series
df['city']  # dictionary-like 방법

0    서울
1    서울
2    서울
3    경기
4    경기
5    경기
Name: city, dtype: object

In [13]:
df.city  # attribute-like 방법

0    서울
1    서울
2    서울
3    경기
4    경기
5    경기
Name: city, dtype: object

In [18]:
df.pop

<bound method NDFrame.pop of   city  year  pop
0   서울  2018  1.1
1   서울  2019  1.2
2   서울  2020  1.3
3   경기  2018  1.5
4   경기  2019  1.6
5   경기  2020  1.4>

DataFrame에서 컬럼 선택 방법:
* dictionary-like 방법: df['column_name']
* attribute-like 방법: df.column_name
* dictionary-like 방법은 항상 가능!
* attribute-like 방법은 안되는 경우도 있음!
  * 컬럼 이름이 숫자로 시작하는 경우(변수 이름 규칙에 맞지 않는 경우)
  * 컬럼 이름이 DataFrame 클래스의 메서드 이름이나 다른 속성 이름과 겹치는 경우.

In [15]:
df2 = pd.DataFrame({'1x': [1, 2, 3], '2x': [2, 4, 6], '3x': [3, 6, 9]})
df2

   1x  2x  3x
0   1   2   3
1   2   4   6
2   3   6   9

In [16]:
df2['1x']

0    1
1    2
2    3
Name: 1x, dtype: int64

In [17]:
df2.1x

SyntaxError: ignored