<a href="https://colab.research.google.com/github/JakeOh/202007_itw_bd18/blob/master/lab_python/python16_for_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**dict 타입이 for 구문에서 사용될 때**

In [ ]:
students = {1: 'abc', 10: 'def', 100: 'ghi'}
for k in students:
    print(k)
    # for-in 구문에서 dict 타입을 사용하면 key에 대해서 iteration(반복)이 됨.

1
10
100

In [ ]:
# students의 value(값)들을 출력
for k in students:
    print(students[k])

abc
def
ghi

In [ ]:
for v in students.values():
    print(v)

abc
def
ghi

In [ ]:
# students에서 key, value를 출력
for k in students:
    print(k, ':', students[k])

1 : abc
10 : def
100 : ghi

In [ ]:
print(students.items())
for item in students.items():  # for item in [(1, 'abc'), (10, 'def'), (100, 'ghi')]:
    print(item)

dict_items([(1, 'abc'), (10, 'def'), (100, 'ghi')])
(1, 'abc')
(10, 'def')
(100, 'ghi')

In [ ]:
# decomposition(성분 분해)
k, v = (1, 'abc')
print(k)
print(v)

1
abc

In [ ]:
for k, v in students.items():  # for k, v in [(1, 'abc'), (10, 'def'), (100, 'ghi')]:
    print(k, ':', v)

1 : abc
10 : def
100 : ghi

In [ ]:
numbers = [1, 2, 3, 10, 20]
names = ['Python', 'R', 'Java', 'SQL', 'C#']

languages = dict()  # empty dict
for i in range(5):
    # print(numbers[i], names[i])
    languages[numbers[i]] = names[i]
print(languages)

{1: 'Python', 2: 'R', 3: 'Java', 10: 'SQL', 20: 'C#'}

In [ ]:
# dictionary comprehension
languages = {numbers[i]: names[i] for i in range(5)}
print(languages)

{1: 'Python', 2: 'R', 3: 'Java', 10: 'SQL', 20: 'C#'}

In [ ]:
for x in zip(numbers, names):
    print(x)

for k, v in zip(numbers, names):
    print(k, v)

(1, 'Python')
(2, 'R')
(3, 'Java')
(10, 'SQL')
(20, 'C#')
1 Python
2 R
3 Java
10 SQL
20 C#

In [ ]:
languages = dict()
for k, v in zip(numbers, names):
    languages[k] = v
print(languages)

{1: 'Python', 2: 'R', 3: 'Java', 10: 'SQL', 20: 'C#'}

In [ ]:
languages = {k: v for k, v in zip(numbers, names)}
print(languages)

{1: 'Python', 2: 'R', 3: 'Java', 10: 'SQL', 20: 'C#'}

In [ ]:
words = ['little', 'little', 'indian', 'boy', 'little', 'indian']

# words에 있는 단어가 dict의 key가 되고, 그 단어가 등장하는 횟수가 value가 되는 dict 변수를 생성.
# 결과: word_counts = {'little': 3, 'indian': 2, 'boy': 1}